
.div-sect{
    padding-top: 100px;
}
.bord-div{
    width: 500px;
    height: 370px;
    border: 30px solid #000;
    padding: 10px;

}

.img-div{
margin-top: -100px;
margin-left: 30px;
}

.border-style1{
    width: 400px;
    height: 370px;
    border: 20px solid #000;
    padding: 10px;
    margin-left: 150px;
}

.img-back2{
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://thewebmax.com/react/modern/static/media/pic1.47da9798.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    width:500px;
    height:450px;
}

